* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 2;
    color: #777;
    padding: 20px;
}
.header {
    height: 100vh;
    background: linear-gradient(to right bottom, hsla(111, 55%, 64%, 0.8), hsla(160, 61%, 57%, 0.8)), url(./img/hero.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}
.logo-frame {
    position: absolute;
    top: 40px;
    left: 40px;
}
.logo {
    height: 35px;
}
.sub-header {
    position: absolute;
    top: 30%;
    left: 52%;
    text-transform: uppercase;
    transform: translate(-50%, -50%);

}
.sub1 {
    font-size: 70px;
    font-weight: 100;
    letter-spacing: 25px;
    color: #fff;
    animation: moveleft 1s ease-out;
}
.sub2 {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 16px;
    line-height: 0.1;
    color: #fff;
    animation: moveright 1s ease-out;
}
@keyframes moveleft {
    0% {
        opacity: 0;
        transform: translateX(-150px);
    }
   80% {
        transform: translateX(10px);
   }
   100% {
       opacity: 1;
       transform: translateX(0);
   }
}
@keyframes moveright {
    0% {
        opacity: 0;
        transform: translateX(150px);
    }
   80% {
        transform: translateX(-10px);
   }
   100% {
       opacity: 1;
       transform: translateX(0);
   }
}
