//to display how the card functions

.card {
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 51rem;
    
    &__side {
        height: 51rem;
        width: 100%;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        backface-visibility: hidden;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
        

        &--front {
            background-color: $color-white;    
        } 

      //back of card
        &--back {
            transform: rotateY(180deg);
             
            &-1 {
                background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
            }
        } 
    }   

    &:hover &__side--front {
            transform: rotateY(-180deg);
        } 

    &:hover &__side--back {
            transform: rotateY(0);
        } 

//front of card
    &__images {
    background-size: cover;
    height: 22rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

        &--1 {
       background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark), url(./img/nat-5.jpg);
       }
    }
    &__header {
        font-size: 2.5rem;
        color: $color-white;
        text-transform: uppercase;
        font-weight: 100;
        position: absolute;
        top: 9rem;
        right: 1.5rem;
        text-align: right;
        line-height: 1.7;
        width: 75%;
    }

    &__header-span {
           padding: 1rem 1.5rem;
           -webkit-box-decoration-break: clone;
           box-decoration-break: clone; 

        &--1 {
                background-image: linear-gradient(to right bottom, 
                rgba($color-secondary-light, .8), 
                rgba($color-secondary-dark, .8));
        }
    } 
    &__text {
        margin-top: 2rem;
        color: $color-grey-dark;

         &-list {
            
               list-style: none;
               width: 75%;
               margin-top: 0 auto;

            li {
                font-size: 1.5rem;
                text-align: center;
                padding: .8rem;

                &:not(:last-child) {
                    border-bottom: 2px solid $color-grey-light-1;
                }
    
            }
         }

    }  
}


























