.card {
    perspective: 50rem;
    -moz-perspective: 50rem;
    position: relative;
    height: 50rem;
    
    &__side {
        height: 50rem;
        width: 100%;
        transition: all .5s;
        position: absolute;
            top: 0;
            left: 0;
            backface-visibility: hidden;

        &--front {
            background-color: indigo;    
        }  

        &--back {
            background-color: yellow;
            transform: rotateY(180deg);  
        } 
    }   

    &:hover &__side--front {
            transform: rotateY(180deg);
         } 

    &:hover &__side--back {
            transform: rotateY(0);
        }   
}




