.composition {
    position: relative;

    &__photo {
        width: 55%;
        box-shadow: 0 1rem 3rem rgba($color-black, .6);
        position: absolute;
        box-radius: 2px;
        z-index: 10;
      
      &--p1 {
          left: 0;
          top: 3rem;
      }
      
      &--p2 {
        right: 0;
        top: 7rem;
    }
    
    &--p3 {
        left: 20%;
        top: 15rem;
    }
  }
}     















